#projects{
    background-color: $c-black;
    
    .projects-title{
        text-align: center;
        padding-top: 50px;
    }
    .inner {
        display: flex;
        justify-content: center;
        align-content: center; 
        padding: 20px;
    }

    .tile-icon {
        width: 25%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-content: center;
        opacity: .3;
        transition: 2s;
        &:hover{
            opacity: .9;
        }
    }

}