// variables app
$c-overlay:   #0000fd;
$c-primary:   #325dff;
$c-secondary: #d9f0ff;
$c-white:     #ffffff;
$c-black:     #000000;
$c-lightgrey: #FAFAFA;
$c-border:    #cecece;
$c-lightblue: #1574B9;

$f-primary:   'Ubuntu';
$f-secondary: 'Poppins';
